openapi: 3.0.3
info:
  title: Sharedo Modeller API
  description: API for visual modelling, option sets, and model configuration in Sharedo platform
  version: 1.0.0
  contact:
    name: Sharedo Platform
    url: https://sharedo.com
servers:
  - url: https://api.sharedo.com
    description: Production server
  - url: https://dev-api.sharedo.com
    description: Development server

paths:
  /api/v1/public/modeller/optionSets:
    get:
      summary: Get all option sets
      description: Retrieve all available option sets in the system
      tags:
        - Option Sets
      parameters:
        - name: category
          in: query
          description: Filter by option set category
          schema:
            type: string
        - name: includeValues
          in: query
          description: Include option values in response
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptionSet'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error

  /api/v1/public/modeller/optionSets/{optionSetName}:
    get:
      summary: Get option set by name
      description: Retrieve a specific option set by its system name
      tags:
        - Option Sets
      parameters:
        - name: optionSetName
          in: path
          required: true
          description: The system name of the option set
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionSetDetail'
        '404':
          description: Option set not found
        '401':
          description: Unauthorized

  /api/v1/public/modeller/optionSets/{optionSetName}/values:
    get:
      summary: Get option set values
      description: Retrieve all values for a specific option set
      tags:
        - Option Sets
      parameters:
        - name: optionSetName
          in: path
          required: true
          description: The system name of the option set
          schema:
            type: string
        - name: includeInactive
          in: query
          description: Include inactive option values
          schema:
            type: boolean
            default: false
        - name: locale
          in: query
          description: Locale for localized values
          schema:
            type: string
            default: en-US
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptionValue'
        '404':
          description: Option set not found
        '401':
          description: Unauthorized

  /api/graph/workitem/query:
    post:
      summary: Query work items using GraphQL
      description: Execute GraphQL queries against work item data
      tags:
        - GraphQL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: GraphQL query string
                variables:
                  type: object
                  description: Query variables
                operationName:
                  type: string
                  description: Operation name for multi-operation queries
      responses:
        '200':
          description: Successful GraphQL response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Query result data
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        locations:
                          type: array
                          items:
                            type: object
                        path:
                          type: array
                          items:
                            type: string
                  extensions:
                    type: object
                    description: Additional response metadata
        '400':
          description: Invalid GraphQL query
        '401':
          description: Unauthorized

  /api/repository:
    get:
      summary: Get repository information
      description: Retrieve information about available repositories
      tags:
        - Repository
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repository'
        '401':
          description: Unauthorized
    post:
      summary: Create new repository
      description: Create a new code or template repository
      tags:
        - Repository
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
              properties:
                name:
                  type: string
                  description: Repository name
                description:
                  type: string
                  description: Repository description
                type:
                  type: string
                  enum: [code, template, configuration]
                  description: Repository type
                isPrivate:
                  type: boolean
                  description: Whether repository is private
                  default: false
      responses:
        '201':
          description: Repository created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
        '400':
          description: Invalid request
        '409':
          description: Repository already exists

components:
  schemas:
    OptionSet:
      type: object
      properties:
        systemName:
          type: string
          description: System name of the option set
        displayName:
          type: string
          description: Display name of the option set
        description:
          type: string
          description: Description of the option set
        category:
          type: string
          description: Option set category
        isActive:
          type: boolean
          description: Whether the option set is active
        allowMultipleSelection:
          type: boolean
          description: Whether multiple values can be selected
        sortOrder:
          type: integer
          description: Display sort order
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        valueCount:
          type: integer
          description: Number of values in the option set

    OptionSetDetail:
      allOf:
        - $ref: '#/components/schemas/OptionSet'
        - type: object
          properties:
            values:
              type: array
              items:
                $ref: '#/components/schemas/OptionValue'
            metadata:
              type: object
              description: Additional option set metadata
            permissions:
              type: object
              description: Permission settings

    OptionValue:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the option value
        systemName:
          type: string
          description: System name of the option value
        displayName:
          type: string
          description: Display name of the option value
        description:
          type: string
          description: Description of the option value
        sortOrder:
          type: integer
          description: Display sort order
        isActive:
          type: boolean
          description: Whether the option value is active
        isDefault:
          type: boolean
          description: Whether this is the default value
        parentValue:
          type: string
          description: Parent value for hierarchical option sets
        metadata:
          type: object
          description: Additional value metadata
        localizedNames:
          type: object
          description: Localized display names
          additionalProperties:
            type: string

    Repository:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the repository
        name:
          type: string
          description: Repository name
        description:
          type: string
          description: Repository description
        type:
          type: string
          enum: [code, template, configuration]
          description: Repository type
        isPrivate:
          type: boolean
          description: Whether repository is private
        owner:
          type: string
          description: Repository owner
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        itemCount:
          type: integer
          description: Number of items in repository
        url:
          type: string
          description: Repository access URL
        permissions:
          type: array
          items:
            type: string
          description: User permissions for this repository

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

tags:
  - name: Option Sets
    description: Option set management and value retrieval
  - name: GraphQL
    description: GraphQL query operations for work items
  - name: Repository
    description: Repository management and access
