openapi: 3.0.3
info:
  title: Sharedo Security API
  description: |
    API specification for Sharedo Security functionality.
    Generated from Nancy module analysis of Sharedo platform v7.8.2.
    
    This API provides endpoints for managing security operations within the Sharedo platform.
  version: 7.8.2
  contact:
    name: Sharedo Support
    url: https://www.sharedo.com

servers:
  - url: https://api.sharedo.com
    description: Production server
  - url: https://staging-api.sharedo.com
    description: Staging server
  - url: http://localhost:8080
    description: Local development server

security:
  - SharedoAuth: []

paths:
  /api/creditsafe/authenticate:
    post:
      tags:
        - Security
      summary: POST authenticate
      operationId: postCreditsafeAuthenticate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request data for POST operation
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /password/changePassword/newuser/{token:guid}:
    get:
      tags:
        - Security
      summary: GET {token:guid}
      operationId: getChangepasswordNewuser
      parameters:
        - name: token:guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: token:guid parameter
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Security
      summary: POST {token:guid}
      operationId: postChangepasswordNewuser
      parameters:
        - name: token:guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: token:guid parameter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request data for POST operation
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    SharedoAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.sharedo.com/oauth/authorize
          tokenUrl: https://auth.sharedo.com/oauth/token
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: string
      required:
        - code
        - message
